@model IEnumerable<PryVidaFarma.Models.Categorias>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-flex w-100 justify-content-between">

        <div class="d-flex px-4 align-items-center">
            <p class="pl-54px text-24">
                ¡Bienvenidos a VidaFarma! <br />
                📦 Ofertas Exclusivas en Medicamentos y Productos de Salud. <br />
                💊 Cuidamos de ti y tu familia, siempre cerca de tu bienestar.<br />
                🚚 Envíos rápidos y gratuitos en compras mayores a S/50.<br />
                🛒 Visítanos o compra online: ¡Fácil, rápido y seguro!<br />
                👩‍⚕️ Asesoría personalizada de nuestros especialistas.<br />
            </p>
        </div>
        <div class="d-flex pr-180px">
            <img class="" src="~/img/banner-dc.png" />
        </div>
    </div>
    <div class="d-flex bg-militar-green justify-content-between align-items-center py-principal px-principal ">
        @foreach(var item in Model.OrderBy(c => c.nombre_categoria.Length).Distinct().Take(4))
        {
            <div>
                <a class="d-block text-light display-1 fw-bold lh-1" href="@Url.Action("ListadoProductosPorCategoria", "Productos", new { categoriaId = item.id_categoria })">@item.nombre_categoria</a>
            </div>
        }
    </div>

    <div class="container mt-5">
        <div class="card bg-pearl-gray p-4">
            <h3 class="text-center text-capitalize display-4 font-italic mb-2">Categorias</h3>
            <div class="d-flex flex-wrap justify-content-evenly font-weight-bold border-bottom pb-2 mb-2">
                @foreach (var item in Model)
                {
                    <div class="d-flex flex-column border-bottom py-2">
                        <a class="d-block text-light display-1 fw-bold lh-1" href="@Url.Action("ListadoProductosPorCategoria", "Productos", new { categoriaId = item.id_categoria })">
                            <img class="w-100 img-fluid" src="~/img/categoria@($"{item.id_categoria}.png")" alt="@item.nombre_categoria" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

</div>