@model IEnumerable<PryVidaFarma.Models.Productos>

@{
    ViewData["Title"] = "ListadoProductosPorCategoria";
}

<!-- Listado de productos -->
<div class="p-4">
    <h2>@ViewBag.categoria</h2>
    @Html.Partial("_ListadoProductos", Model)
</div>
